body {
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* białe tło */
    font-family: Arial, sans-serif;
}

#navbar {
    background-color: #000000; /* czarny pasek */
    color: #ffffff; /* biały tekst */
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 150px; /* szerokość kolumny */
}

#navbar a {
    display: block;
    color: #ffffff; /* kolor linków */
    text-decoration: none;
    margin-bottom: 10px;
    text-align: center; /* wyśrodkowanie tekstu */
    line-height: 2; /* wysokość linii */
}

#navbar a:hover {
    text-decoration: underline;
}

#header {
    text-align: center; /* wyśrodkowanie tekstu */
    padding-top: 50px; /* dostosowanie odstępu */
    width: 100%; /* pełna szerokość */
    margin-top: 50px; /* dodatkowy margines od góry */
}
